<h2>Enter a Artist below</h2>

<form action="/artist/new" method="post">
  <label for="artist_name">Artist</label>
  <input id="artist_name"type="text" name="artist_name">
  <button type="submit">Enter</button>
</form>
