<h2>Here are all the albums:</h2>

<ul>
  <% @artists.cd().each() do |cds| %>
    <li><a href="/cd/<%= cds.id() %>"><%= cds.album_name() %></a></li>
  <% end %>
</ul>

<a href="/artist/<%= @artists.id() %>/cd/new"><button type="button">Add a new Album</button></a>
<a href="/"><button type="button">Home</button></a>
